    <footer class="footer">
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <a href="#">
                Link 1
              </a>
            </li>
            <li>
              <a href="#">
                Link 2
              </a>
            </li>
            <li>
              <a href="#">
                Link 3
              </a>
            </li>
            <li>
              <a href="#">
                Link 4
              </a>
            </li>
          </ul>
          
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script>  All rights reserved.
          <a href="https://resclick.com/" target="_blank">ResClick</a> <i class="material-icons">favorite</i>
        </div>
      </div>
    </footer>